@model IEnumerable<ProjetoSocialSolutions.Models.Imovel>

@{
    ViewData["Title"] = "Imóveis";
}

<h2>Imóveis</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Inserir Novo Imóvel</a>
</p>
<table class="table">
    <thead>
        <tr class="alert-success">
            <th>
                @Html.DisplayNameFor(model => model.TipoImovel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoImovel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.ImovelId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ImovelId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ImovelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
